body
{
  font-family: monospace;
  background-color: #d1e0e0;
  color: #2b2d2d;
  font-size: 1.2em;
}
h1
{
  margin-top: 2em;
  text-align: center;
}
.error
{
  font-size: 1.5em;
  color: red;
  font-style: italic;
}
#answerSelectDiv
{
  margin-top: 4em;
  margin-bottom: .5em;
}
#answerBoxDiv
{
  margin-bottom: .5em;
}
#answerBoxLengthDiv
{
  margin-bottom: .5em;
}
#topicDiv
{
  margin-top: 4em;
  margin-bottom: .5em;
}
#questionBoxDiv
{
  margin-bottom: .5em;
}
#questionBoxLengthDiv
{
  margin-bottom: .5em;
}
.leftAd
{
  position: fixed;
  width: 10%;
  height: 100%;
  left: 0;
  float: left;
}
.rightAd
{
  position: fixed;
  width: 10%;
  height: 100%;
  right: 0;
  float: right;
}
#container
{
  width: 80%;
  margin-left: 10%;
}
#answerContainer
{
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-bottom: 2em;
}
.questionLabel
{
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 4em;
}
.question
{
  font-size: 1.2em;
  font-weight: bold;
}
.answerLabel
{
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1.5em;
}
.answer
{
  font-size: 1.2em;
}
.askSelectButton
{
  float: right;
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:3px solid #2b2d2d;
  border-radius: 8px;
  outline:none;
}
.askSelectButton:hover
{
	background-color: #2b2d2d;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
}
.askSelectButton:checked
{
	background-color: #2b2d2d;
}
#answerBox
{
  /*margin-top: 4em;*/
  width: 100%;
  font-size: 1.5em;
  color: #2b2d2d;
  /*right: 10%;*/
  /*float: right;*/
  outline:none;
}
#answerBtn
{
	margin-top: .5em;
	border-radius: 8px;
	border: 3px solid #2b2d2d;
	color: #2b2d2d;
	font-size: 1.5em;
	padding: 10px;

	background-color: #d1e0e0;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
	outline:none;
/* 	-webkit-transition-timing-function: all .25s ease;
	transition-timing-function: all .25s ease;  */
}
#answerBtn:hover
{
	background-color: #2b2d2d;
	color: #d1e0e0;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
/* 	-webkit-transition-timing-function: all .25s ease;
	transition-timing-function: all .25s ease;  */
}
#questionContainer
{
	width: 80%;
	margin-left: 10%;
	text-align:center;
}
#topic
{
	/*margin-top: 4em;*/
	border-radius: 8px;
	border: 3px solid #2b2d2d;
	font-size: 1.5em;
	padding: 10px;
	color: #2b2d2d;

	background-color: #d1e0e0;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
	outline:none;
}
#topic:hover
{
	background-color: #2b2d2d;
	color: #d1e0e0;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
}
#questionBox
{
  margin-top: .5em;
  width: 100%;
  font-size: 1.5em;
  color: #2b2d2d;
  /*right: 10%;*/
  /*float: right;*/
  outline:none;
}

#ask
{
	margin-top: .5em;
	border-radius: 8px;
	border: 3px solid #2b2d2d;
	font-size: 1.5em;
	padding: 10px;

	background-color: #d1e0e0;
	color: #2b2d2d;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
	outline:none;
}
#ask:hover
{
	background-color: #2b2d2d;
	color: #d1e0e0;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
}
code
{
  font-weight: normal;
  font-family: monospace;
  border: 3px solid #b3cbcb;
  font-size: .8em;
  background-color: #b3cbcb;
  color: white;
}
#menu
{
	position: relative;
	top: 0;
    left: 0;
	z-index: 1000;
}
.ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2b2d2d;
	position: fixed;
	top: 0px;
	width: 100%;
}
.li
{
	font-size: 1em;
	float: left;
}
.li .a
{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
}
.li .a:hover
{
	color: #2b2d2d;
	background-color: #d1e0e0;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
	/*background-color: #404040;*/
}
.active
{
	background-color: #d1e0e0; 
	color: #2b2d2d !important;
}
.aaq
{
	font-size: 1em;
	float: right;
}
.aaq .a
{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
}
.aaq .a:hover
{
  color: #2b2d2d;
	background-color: #d1e0e0;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
	/*background-color: #404040;*/
}
/* input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:3px solid #2b2d2d;
  border-radius: 8px;
  outline:none;
  -webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
}

input[type='radio']:hover {
	border: 3px solid white;
	background-color: #2b2d2d;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}
input[type='radio']:checked {
  background: #ff00ff;
  background-color: #2b2d2d;
  background-color: #2b2d2d;
  background: #d1e0e0;
} */
