body
{
  font-family: monospace;
  /*background-color: white;*/
  background: url(../images/back.jpeg) no-repeat center center fixed;
  background-size: cover;
  color: black;
  font-size: 1.2em;
}
h1
{
  margin-top: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}
.error
{
  font-size: 1.5em;
  color: red;
  font-style: italic;
}
#answerSelectDiv
{
  margin-top: 4em;
  margin-bottom: .5em;
}
#answerBoxDiv
{
  margin-bottom: .5em;
}
#answerBoxLengthDiv
{
  margin-bottom: .5em;
}
#topicDiv
{
  margin-top: 4em;
  margin-bottom: .5em;
}
#questionBoxDiv
{
  margin-bottom: .5em;
}
#questionBoxLengthDiv
{
  margin-bottom: .5em;
}
.leftAd
{
  position: fixed;
  width: 10%;
  height: 100%;
  left: 0;
  float: left;
}
.rightAd
{
  position: fixed;
  width: 10%;
  height: 100%;
  right: 0;
  float: right;
}
#container
{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2em;
}
.qaContainer
{
  padding-bottom: 1%;
  border-bottom: 2px solid #3399ff;
}
#answerContainer
{
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-bottom: 2em;
}
.questionLabel
{
  font-size: 1.7em;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 4em;
}
.question
{
  font-size: 1.2em;
  font-weight: bold;
}
.answerLabel
{
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1.5em;
  padding-left: 5%;
}
.answer
{
  font-size: 1em;
  padding-left: 5%;
}
.askSelectButton
{
  float: right;
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:3px solid black;
  border-radius: 8px;
  outline:none;
}
.askSelectButton:hover
{
	background-color: #ff0000;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
	cursor: pointer;
}
.askSelectButton:checked
{
	background-color: #ff9900;
}
#answerBox
{
  /*margin-top: 4em;*/
  width: 100%;
  font-size: 1.5em;
  color: black;
  /*right: 10%;*/
  /*float: right;*/
  outline:none;
}
#answerBtn
{
	margin-top: .5em;
	border-radius: 8px;
	border: 3px solid black;
	color: black;
	font-size: 1.5em;
	padding: 10px;

	/*background-color: white;*/
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
	outline: none;
  -webkit-appearance:none;
  background-color: Transparent;
/* 	-webkit-transition-timing-function: all .25s ease;
	transition-timing-function: all .25s ease;  */
}
#answerBtn:hover
{
	background-color: black;
	color: #ff0000;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
/* 	-webkit-transition-timing-function: all .25s ease;
	transition-timing-function: all .25s ease;  */
}
#questionContainer
{
	width: 80%;
	margin-left: 10%;
	text-align:center;
    margin-bottom: 2em;
}
#topic
{
	/*margin-top: 4em;*/
	border-radius: 8px;
	border: 3px solid black;
	font-size: 1.5em;
	padding: 10px;
	color: black;

	background-color: white;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
	outline:none;
  background-color: Transparent;
}
#topic:hover
{
	background-color: black;
	color: #ff0000;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
  cursor: pointer;
}
#questionBox
{
  margin-top: .5em;
  width: 100%;
  font-size: 1.5em;
  color: black;
  /*right: 10%;*/
  /*float: right;*/
  outline:none;
}

#ask
{
	margin-top: .5em;
	border-radius: 8px;
	border: 3px solid black;
	font-size: 1.5em;
	padding: 10px;

	/*background-color: white;*/
	color: black;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
	outline:none;
  background-color: Transparent;
}
#ask:hover
{
	background-color: black;
	color: #ff0000;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
}
code
{
  font-weight: normal;
  font-family: monospace;
  border: 3px solid #b3cbcb;
  font-size: .8em;
  background-color: #b3cbcb;
  color: white;
}
#menu
{
	position: relative;
	top: 0;
  left: 0;
	z-index: 1000;
}
.ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	position: fixed;
	top: 0px;
	width: 100%;
}
.li
{
	font-size: 1em;
	float: left;
}
.li .a
{
	display: inline-block;
	color: #ff9900;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
}
.li .a:hover
{
	color: #ff0000 !important;
	background-color: #4d4d4d;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
	/*background-color: #404040;*/
}
.active
{
	background-color: white;
	color: #3399ff !important;
}
.aaq
{
	font-size: 1em;
	float: right;
}
.aaq .a
{
	display: inline-block;
	color: #ff9900;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
}
.aaq .a:hover
{
  color: #ff0000;
	background-color: #4d4d4d;
	-webkit-transition: all .15s;
	-moz-transition: all .15s;
	-ms-transition: all .15s;
	transition: all .15s;
	/*background-color: #404040;*/
}
